<div class="col-3">
    <a class="btn btn-secondary " asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
    <br />
    <a class="btn btn-secondary " asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
    <br />
    <a class="btn btn-secondary " asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
    <br />
    <a class="btn btn-secondary " asp-area="Admin" asp-controller="Product" asp-action="Index">Товары</a>
</div>