@model UserAccount
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Добавление пользователя</p>
        <form class="form_auth_style" action="#" method="post">

            <div>
                <label asp-for="Name"></label>
                <input class="input_auth" type="text" asp-for="Name" placeholder="Введите ваше имя" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Email"></label>
                <input class="input_auth" type="email" asp-for="Email" placeholder="Введите ваш email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label asp-for="Phone"></label>
                <input class="input_auth" type="text" asp-for="Phone" placeholder="Введите ваш телефон" />
                <span asp-validation-for="Phone"></span>
            </div>

            <div>
                <label asp-for="Password"></label>
                <input class="input_auth" type="password" asp-for="Password" placeholder="Введите пароль" />
                <span asp-validation-for="Password"></span>
            </div>

            <button class="btn btn-secondary form_auth_button" type="submit" name="form_auth_submit" asp-area="Admin" asp-controller="User" asp-action="Add">Добавить пользователся</button>
        </form>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
</div>