@model ChangePassword
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Смена пароля</p>
        <form class="form_auth_style" action="#" method="post">

            <div>
                <label asp-for="Password">Пароль</label>
                <input class="input_auth" type="text" asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>

            <div>
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
                <input class="input_auth" type="text" asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <br />
            <div asp-validation-summary="ModelOnly"></div>
            <br />
            <button class="btn btn-secondary form_auth_button" type="submit" name="form_auth_submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить</button>
        </form>
    </div>

</div>