html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: azure;
    margin-bottom: 60px;
    font-family: 'Comic Sans MS'
}
.container-footer {
    display: flex; 
    flex-direction: column;
    min-height: 70vh; 
}

.footer {
    margin-top: auto;
}

.card {
    margin: 0px;
}
.yith-wcwl-add-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.name-product {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.grid-item {
    display: inline-block;
    position: relative;
    background-color: white;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    margin: 2px;
    padding: 10px;
}

.grid-3 {
    display: flex;
    grid-template-columns: 50% 1fr 1fr;
}

.img-product {
    left: 400px;
    top: 120px;
    width: 500px;
}
.product-description {
    margin: 50px 0;
}

.product-cost {
    margin: 50px 0 0;
}
.card{
    padding: 45px;
}

.product-to-basket {

}
.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
