@model Product
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Добавление продукта</p>
        <form class="form_auth_style" action="#" method="post">

            <div>
                <label asp-for="Name">Название</label>
                <input class="input_auth" type="text" asp-for="Name" placeholder="Введите название товара" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Description">Описание</label>
                <input class="input_auth" type="text" asp-for="Description" placeholder="Введите описание" />
                <span asp-validation-for="Description"></span>
            </div>

            <div>
                <label asp-for="Cost">Цена</label>
                <input class="input_auth" type="number" asp-for="Cost" placeholder="Введите цену" />
                <span asp-validation-for="Cost"></span>
            </div>

            <button class="btn btn-secondary form_auth_button" type="submit" name="form_auth_submit" asp-area="Admin" asp-controller="Product" asp-action="Add">Добавить товар</button>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>