<form method="post">
<div class="text-center">
    <h3>ФИО</h3>
    <input type="type" name="name" value="" />

    <h3>Адрес доставки</h3>
    <input type="type" name="addres" value="" />

    <h3>Телефон</h3>
    <input type="type" name="phone" value="" />
    <br />
    <br />
    <button class="btn btn-secondary" type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
</div>
</form>